.tavlijsTavli {
	position: relative;
	display: inline-block;
	margin: 0.2%;
	font-size: 0px;
/*
border-style: solid;
border-width: 1px;
border-color: black;
background-color: red;
*/
}

/******************************************************************************/

.tavlijsThiki {
	position: absolute;
	display: inline-block;
	text-align: center;

	width: 8%;
	height: 50%;
}

.tavlijsThiki0 {
	bottom: 0px;
	left: 0px;
	transform: rotate(180deg);
/*
background-color: #d7d95e;
*/
}

.tavlijsThiki1 {
	top: 0px;
	left: 0px;
/*
background-color: #548b56;
*/
}

/******************************************************************************/

.tavlijsExo {
	position: absolute;
	display: inline-block;
	text-align: center;

	width: 8%;
	height: 50%;
}

.tavlijsExo0 {
	bottom: 0px;
	right: 0px;
	transform: rotate(180deg);
/*
background-color: #af4545;
*/
}

.tavlijsExo1 {
	top: 0px;
	right: 0px;
/*
background-color: #919ba7;
*/
}

/******************************************************************************/

.tavlijsMisoArea {
	position: absolute;
	width: 42%;
	height: 100%;
	background-color: #853D25;
}

.tavlijsMisoArea0 {
	left: 8%;
}

.tavlijsMisoArea1 {
	right: 8%;
}

.tavlijsMiso {
	position: absolute;
	top: 2%;
	left: 4%;
	width: 92%;
	height: 96%;
	background-color: #F4DEB3;
}

/******************************************************************************/

.tavlijsZaria {
	position: absolute;
	bottom: 46.3%;
	left: 0;

	display: inline-block;
	text-align: center;
	vertical-align: middle;

	width: 100%;
	height: 7.5%;

	border-radius: 15px;
/*
background-color: teal;
*/
}

.tavlijsZaria0 {
	right: 10%;
}

.tavlijsZaria1 {
	left: 10%;
}

/******************************************************************************/

.tavlijsPerioxi {
	position: absolute;
	display: inline-block;
	text-align: center;
	overflow: hidden;

	width: 100%;
	height: 46%;
/*
background-color: yellow;
*/
}

.tavlijsPerioxi0 {
	bottom: 0;
	left: 0;
}

.tavlijsPerioxi1 {
	bottom: 0;
	right: 0;
}

.tavlijsPerioxi2 {
	top: 0;
	right: 0;
	transform: rotate(180deg);
}

.tavlijsPerioxi3 {
	top: 0;
	left: 0;
	transform: rotate(180deg);
}

/******************************************************************************/

.tavlijsThesi {
	position: relative;
	display: inline-block;
	text-align: center;
	height: 100%;
/*
background-color: red;
*/
}

.tavlijsThesiTrigono0 {
	fill: #D2B48C;
}

.tavlijsThesiTrigono1 {
	fill: #CD853E;
}

/******************************************************************************/

.tavlijsPouli {
	position: absolute;
	bottom: 0;
	left: 0;
/*
background-color: cyan;
*/
}

.tavlijsPouliExo0 {
	fill: #917744;
}

.tavlijsPouliExo1 {
	fill: #637c55;
}

.tavlijsPouliMesi0 {
	fill: #cba988;
}

.tavlijsPouliMesi1 {
	fill: #254c0a;
}

.tavlijsPouliEso0 {
	fill: #F5F5DC;
}

.tavlijsPouliEso1 {
	fill: #314c29;
}

.tavlijsPouliDana {
	position: relative;
	display: inline-block;
/*
background-color: yellow;
*/
}

.tavlijsPouliDanaExo0 {
	fill: #7c7856;
}

.tavlijsPouliDanaExo1 {
	fill: #072e16;
}

.tavlijsPouliDanaEso0 {
	fill: #F5F5DC;
}

.tavlijsPouliDanaEso1 {
	fill: #2a5039;
}

/******************************************************************************/

.tavlijsZari {
	position: relative;
	display: inline-block;
	text-align: center;
	margin: 0 1.5%;
	border-style: solid;
	border-width: 0;
	border-color: transparent;
	border-radius: 21%;
background-color: yellow;
/*
*/
}

.tavlijsZariIkona {
	position: absolute;
}

.tavlijsZariLeft {
	border-left-color: #003399;
	border-bottom-color: #003399;
}

.tavlijsZariRight {
	border-top-color: #003399;
	border-right-color: #003399;
}
