.tavlijsArena {
	position: relative;
}

/******************************************************************************/

.tavlijsTavli {
	position: relative;
	display: inline-block;
	margin: 0.2%;
	font-size: 0px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

/******************************************************************************/

.tavlijsThiki {
	position: absolute;
	display: inline-block;
	text-align: center;

	width: 8%;
	height: 50%;

	border-radius: 0px 0px 10px 10px;
}

.tavlijsThiki0 {
	bottom: 0px;
	left: 0px;
	transform: rotate(180deg);
/*
background-color: #d7d95e;
*/
}

.tavlijsThiki1 {
	top: 0px;
	left: 0px;
/*
background-color: #548b56;
*/
}

/******************************************************************************/

.tavlijsExo {
	position: absolute;
	display: inline-block;
	text-align: center;

	width: 8%;
	height: 50%;

	border-radius: 0px 0px 10px 10px;
}

.tavlijsExo0 {
	bottom: 0px;
	right: 0px;
	transform: rotate(180deg);
/*
background-color: #af4545;
*/
}

.tavlijsExo1 {
	top: 0px;
	right: 0px;
/*
background-color: #919ba7;
*/
}

/******************************************************************************/

.tavlijsMisoArea {
	position: absolute;
	width: 42%;
	height: 100%;
	background-color: #853D25;
}

.tavlijsMisoArea0 {
	left: 8%;
}

.tavlijsMisoArea1 {
	right: 8%;
}

.tavlijsMiso {
	position: absolute;
	top: 2%;
	left: 4%;
	width: 92%;
	height: 96%;
	background-color: #ffe9b8;
}

/******************************************************************************/

.tavlijsZaria {
	position: absolute;
	bottom: 46.3%;
	left: 0;

	display: inline-block;
	text-align: center;
	vertical-align: middle;

	width: 100%;
	height: 7.5%;

	border-radius: 15px;
/*
background-color: teal;
*/
}

.tavlijsZaria0 {
	right: 10%;
}

.tavlijsZaria1 {
	left: 10%;
}

/******************************************************************************/

.tavlijsPerioxi {
	position: absolute;
	display: inline-block;
	text-align: center;

	width: 100%;
	height: 46%;
/*
background-color: yellow;
*/
}

.tavlijsPerioxi0 {
	bottom: 0;
	left: 0;
}

.tavlijsPerioxi1 {
	bottom: 0;
	right: 0;
}

.tavlijsPerioxi2 {
	top: 0;
	right: 0;
	transform: rotate(180deg);
}

.tavlijsPerioxi3 {
	top: 0;
	left: 0;
	transform: rotate(180deg);
}

/******************************************************************************/

.tavlijsThesi {
	position: absolute;
	left: 0px;
	bottom: 0px;
	display: inline-block;
	text-align: center;
	height: 100%;
	border-radius: 10px 10px 0px 0px;
/*
background-color: red;
*/
}

.tavlijsThesiTrigono0 {
	fill: #d5a76b;
}

.tavlijsThesiTrigono1 {
	fill: #df9d5c;
}

/******************************************************************************/

.tavlijsPouliKerma {
	position: absolute;
	bottom: 0;
	left: 0;
/*
background-color: cyan;
*/
}

.tavlijsPouliKermaExo0 {
	fill: #6e5a33;
}

.tavlijsPouliKermaExo1 {
	fill: #637c55;
}

.tavlijsPouliKermaMesi0 {
	fill: #c5bb8e;
}

.tavlijsPouliKermaMesi1 {
	fill: #254c0a;
}

.tavlijsPouliKermaEso0 {
	fill: #ffffe0;
}

.tavlijsPouliKermaEso1 {
	fill: #314c29;
}

.tavlijsPouliPlaka {
	position: relative;
	display: inline-block;
/*
background-color: yellow;
*/
}

.tavlijsPouliPlakaExo0 {
	fill: #7c7856;
}

.tavlijsPouliPlakaExo1 {
	fill: #072e16;
}

.tavlijsPouliPlakaEso0 {
	fill: #F5F5DC;
}

.tavlijsPouliPlakaEso1 {
	fill: #2a5039;
}

.tavlijsPouliCandi0 {
	fill: #ff4d00;
}

.tavlijsPouliCandi1 {
	fill: #00b2ff;
}

.tavlijsMarka {
	opacity: 0.6
}

/******************************************************************************/

.tavlijsZari {
	border-style: solid;
	border-width: 0;
	border-color: #5fa8d3;
	border-radius: 21%;
	--pexia-color: #ffd400;
}

.tavlijsZariLeft {
	border-left-color: var(--pexia-color);
	border-bottom-color: var(--pexia-color);
}

.tavlijsZariRight {
	border-top-color: var(--pexia-color);
	border-right-color: var(--pexia-color);
}

/******************************************************************************/

.tavlijsIpodoxi {
	background-color: #6fcf8d;
}

.tavlijsStiliEpileximi {
	background-color: magenta;
	cursor: pointer;
}
